<!DOCTYPE html>
<html lang="en-US">

<!-- Basic -->
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV501YLESN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV501YLESN');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TTQL5PXX');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-itunes-app" content="">
    <meta name="google-play-app" content="">
 
     <!-- Site Metas -->
    <title>Terms &amp; Conditions | CWorldCo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="Hospitality Recruitment Agency">
	<meta name="description" content=" CWORLDCO is a global workforce solutions provider helping you hire exceptional BILINGUAL and CULTURAL professionals whithin the Culinary and Hospitaity Sectors. 
	Our cutting-edge technology platform designed to revolutionize the hiring process within the culinary industry, specifically tailored for the Culinary and Hospitality Sectors. Dive-in and know about our talent acquisition and employment services.
	CWORLDCO is A Self-Recruit Pro Agency, create to be among leading private international Chefs, Cooks and Hospitality workers recruitment agencies. 
	Self-Recruit Pro makes hiring simple, effective, and efficient. Our Job and Applicant Tracking System allow companies to post job quickly and to track applicants' recruitment. The platform has many useful features. Our Obligations Point is to Enlist, Interview, and Offer you Talented, Cultural,
    Bilinguals, Experienced Culinary Experts/Cooks, and Accommodate Individuals for Accessible Positions Global. ">   
	<meta name="description" content="CWorldCo Terms &amp; Conditions">
	<meta property="og:url" content="https://www.cworldco.com/terms-and-conditions/">
	<meta property="og:title" content="Terms &amp; Conditions">
	
	
	<meta name="author" content="Chefs World Community by, Sena Komlavi AKPABLY">
	<meta name="CWorldCo (Chefs World Community)" content="Self-Recruit Pro Agency">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="welcome-layout  " id="member_applications-new" data-ga-category="new_welcome_page" data-ga-action="view_overview">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTQL5PXX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div src="#" fixed="" no-repeat="" 50%="" 0="" ;="" cursor:pointer;="" display:block;="" height:100%;="" width:100%;="" position:fixed"="">
							<link rel="sponsored" href="https://www.cworldco.com">
		</div>
<div id="takeover_container" style="position:relative; top:50px;">





<!DOCTYPE html>
<html lang="en-US">

<head>
    
<title> Terms Of Use – </title>

    <title></title>
    
</head>

<body class="welcome-layout  " id="member_applications-new" data-ga-category="new_welcome_page" data-ga-action="view_overview">

<!-- End Google Tag Manager -->
        <div id="wrapper" class="cworldco-wrapper is-loggedin is-member">
            <div class="logo-container">
            <a class="navbar-brand" href="/en/" cworldco-tracking="{event: 'header-nav-interaction', label: 'cworldco-logo'}">
                <span class="sr-only">CWorldCo</span>
            </a>
            </div>


        <div class="collapse navbar-collapse" ng-class="{'responsive-menu': $ctrl.responsiveMenu}">
                        <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/en/home/">
                        Home                        <span ng-if="!$ctrl.hasOnboardingStep('home-item', 'company')" class="onboarding-indicator onboarding-indicator-header"></span>
                    </a>
                </li>
                                <li class="nav-item">
                                            <a class="nav-link" href="https://advice.cworldco.com/en/">Advice</a>
                                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.hosco.com/en/jobs">
                            Jobs                            <span ng-if="!$ctrl.hasOnboardingStep('jobs-item', 'company')" class="onboarding-indicator onboarding-indicator-header"></span>
                        </a>
                    </li>
                                                    <li class="nav-item courses">
                        <a class="nav-link" href="/en/courses/">
                            Courses                        </a>
                    </li>
                                <li class="nav-item">
                    <a class="nav-link" href="/en/directory/companies">Companies</a>
					</li>
                                                                    <li class="nav-item">
                        <a class="nav-link" href="/en/directory/members">
                            Members                            <span ng-if="!$ctrl.hasOnboardingStep('members-item', 'company')" class="onboarding-indicator onboarding-indicator-header"></span>
                        </a>
                    </li>
                                                                <li class="nav-item">
                    <ul class="navbar-nav hosco-navbar-inline">
                            <li class="nav-item icon-menu">
                                <hosco-message-count>
                                    <i class="fa fa-envelope-o"></i>
                                </hosco-message-count>
                            </li>
                                                <li class="nav-item icon-menu">
                            <hosco-notification>
                                <i class="fa fa-bell-o"></i>
                            </hosco-notification>
                        </li>
                                                    <li class="nav-item icon-menu">
                                <hosco-connections>
                                    <i class="fa fa-user-plus"></i>
                                </hosco-connections>
                            </li>
                                                <li class="nav-item hosco-navbar-userdropdown dropdown-no-caret">
                            <div uib-dropdown is-open="vm.open" ng-mouseenter="vm.open=true" ng-mouseleave="vm.open=false" class="dropdown dropdown-no-caret">
                                <a href="/en/member/sena-akpably" class="thumb d-none d-lg-block">
                                                                            <img src="https://www.hosco.com/images/assets/pictures/thumb-user-badge.png" />
                                                                        <span ng-if="!$ctrl.hasOnboardingStep('company-profile-item', 'company') || !$ctrl.hasOnboardingStep('account-details-item', 'company')" class="onboarding-indicator onboarding-indicator-header"></span>
                                </a>
                                <div class="thumb d-xs-block d-lg-none" aria-expanded="false">
                                    <span class="" hosco-href="/en/member/sena-akpably"><img src="https://www.hosco.com/images/assets/pictures/thumb-user-badge.png" /></span>
                                    <span ng-if="!$ctrl.hasOnboardingStep('company-profile-item', 'company') || !$ctrl.hasOnboardingStep('account-details-item', 'company')
                                            || !$ctrl.hasOnboardingStep('member-account-switch', 'company') || !$ctrl.hasOnboardingStep('company-account-switch', 'member')" class="onboarding-indicator onboarding-indicator-header"></span>
                                    <button class="btn btn-xs dropdown-toggle" uib-dropdown-toggle><i class="fa fa-caret-down fa-2x"></i></button>
                                </div>
                                <div uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/en/member/sena-akpably">
                                        <i class="fa fa-user fa-fw"></i> Profile                                        <span ng-if="!$ctrl.hasOnboardingStep('company-profile-item', 'company')" class="onboarding-indicator onboarding-indicator-dropdown"></span>
                                    </a>
                                                                        <a class="dropdown-item" href="/en/settings/account">
                                        <i class="fa fa-cogs fa-fw"></i> Account details                                        <span ng-if="!$ctrl.hasOnboardingStep('account-details-item', 'company')" class="onboarding-indicator onboarding-indicator-dropdown"></span>
                                    </a>
                                    <a class="dropdown-item" data-new="new" ng-class="{new: true}" href="/en/settings/notifications">
                                        <i class="fa fa-bell fa-fw"></i> Email notifications                                    </a>
                                                                                                                                                                                                                                                                                                                                        <a class="dropdown-item" href="/en/advertise-jobs">
                                            <i class="fa fa-plus-circle fa-fw blue"></i> Create a company account                                        </a>
                                                                        <a class="dropdown-item" href="/en/auth/logout" hosco-tracking="{event: 'logout', label: 'logout button'}">
                                        <i class="fa fa-unlock fa-fw"></i> Logout                                    </a>
                                    
                                                                    </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
                                <email-verification-message></email-verification-message>
                <main class="hosco-content-container">
                    
                    
<div
    class="hosco-brand"
    home-header-transition
    home-sidebars-transition
>
    <worldco-back-to-top offset="200"></cworldco-back-to-top>
    <div id="main-title">
  <div class="content">
    <h1>Terms &amp; Conditions | CWORLDCO Self-Recruit Pro</h1>
  </div>
</div>
<div id="content">
  <section class="privacy-policy">
    <p><em style="color:#0099da;">Last update 04.03.2020</em></p>

    <h3 id="ownership">1- OWNERSHIP OF THE WEBSITE, ACCEPTANCE AND UPDATES OF THE TERMS OF USE.</h3>
    <p>1. Welcome to Hospitality Connection (hereinafter referred to as "CWorldCo", the "Company", the "Site" or the "Platform").</p>
    <p>2. The owner of the website www.cworldco.com is the company Hospitality Connection Barcelona, S.L. (hereinafter referred to as "CWorldCo Self-Recruit"), C/Roger de Flor 221, local, 08025 Barcelona, Spain with identification number N.I.F. B-67128876.</p>
    <p>3. You can contact CWorldCo via email at support@cworldco.com</p>
    <p>4. CWorldCo is the world's leading hospitality network and connects the world's best talent with the world's best hospitality brands and schools. We are a partner to our members throughout their careers in the world's fastest growing industry.</p>
    <p>5. By registering on CWorldCo and using the Site, you are entering into a legally binding agreement with Hospitality Connection Barcelona, S.L. C/Roger de Flor 221, local, 08025 Barcelona, Spain based on the terms of this Use and the CWorldCo <a href="/en/privacy-policy/">Privacy Policy</a>, and becoming a CWorldCo user ("User").</p>
    <p>6. If you are using CWorldCo on behalf of a school or company, our relationship may be governed by this Agreement as well as an additional separate agreement.</p>
    <p>7. If you do not wish to become a User of CWorldCo, please do not click on "Join us" or "Register" and do not access, view or use any CWorldCo webpage or service. Any use you make of the Site or related services confirms your acceptance of, and agreement to be bound, by the present Terms of Use and our "Privacy Policy".</p>
    <p>8. The Company may amend or modify these Terms of Use at any time. We consequently encourage you to check the Site periodically for any changes or updates. In any case, we will contact you to communicate any modifications which substantially affect the contents of these Terms of Use.</p>
    <p>Therefore, you should periodically visit this page and review the most up-to-date version of the "Terms of Use".</p>

    <h3 id="description">2- DESCRIPTION OF SERVICES</h3>
    <p>CWorldCo provides a variety of online services to Users, including but not limited to:</p>
    <p>(i) My Home: A homepage for all Users, with the Platform and most recent updates.</p>
    <p>(ii) Job Offers: A directory of all active offers posted by employers of the CWorldCo community. Jobs can also be posted by alumni or career centres of specific schools holding a First subscription.</p>
    <p>(iii) My Profile: A personalized page for each User of the Platform (members, companies and schools). Content of the information contained on this page may be customized by the User at any time.</p>
    <p>(iv) Directory: A directory of all members, companies, and schools participating in the CWorldCo community.</p>
    <p>(v) My Inbox: An internal messaging system for CWorldCo Users to interact and make/receive spontaneous applications.</p>

    <h3 id="conditions">3- CONDITIONS OF USE AND PROPER USE OF CWORLDCO</h3>
    <p>3.1 CWorldCo may be accessed and used by:</p>
    <p>(i) Recruiters and company managers looking to connect with and hire top talents from the hospitality industry, after having selected a membership type and paid all related potential fees due to CWorldCo.</p>
    <p>(ii) Staff from the participating schools, after the respective schools have entered into a formal collaboration agreement with CWorldCo, to interact with other Users and manage their placement and engagement strategies of both students and alumni on the Platform.</p>
    <p>(iii) Top talents from the hospitality industry, to connect with other members or companies and find internships or permanent positions.</p>
    <p>3.2. You agree to use the CWorldCo platform according to what is established in the present Terms of use and not engage in any of the following prohibited activities:</p>
    <ul>
      <li>Copy, modify, host, stream, sublicence, or resell the CWorldCo services.</li>
      <li>Enable or allow others to use the Services using your account information.</li>
      <li>Impersonate another person or otherwise misrepresent your affiliation with a person or entity, engage in any fraudulent action, hide or attempt to hide your identity.</li>
      <li>Use the Services to build any kind of database or for any commercial solicitation purpose.</li>
      <li>Collect or store personal data about other users in connection with any of the prohibited conduct and activities set forth above.</li>
      <li>Use any data mining or similar data gathering and extraction methods in connection with the Services.</li>
      <li>Access or attempt to access the Services by any means other than the interface we provided or authorized.</li>
      <li>Upload or share any content that is illegal, unlawful, harmful, threatening, abusive, tortious, defamatory, libellous, part of a crime or illegal activity, violating anyone´s privacy or hateful.</li>
      <li>Attempt to disable, impair, harm or destroy the Services.</li>
      <li>Upload, post, transmit, or otherwise make available any content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party.</li>
      <li>Publish any person´s identification documents or sensitive financial information, or any personal information of third parties without their consent.</li>
      <li>Upload, post, transmit, or otherwise make available any content, that you do not have a right to make available under any law or contractual relationship.</li>
    </ul>
    <p>You further warrant that:</p>
    <ul>
      <li>You have not been prohibited from having a CWorldCo account</li>
      <li>You are not a competitor of CWorldCo nor using the Platform for reasons that are in competition with CWorldCo (the Site may not be used or linked to by third-party recruiters or by any party charging a fee for access to this Site or any information comprised in this Site)</li>
      <li>You are not already registered on CWorldCo (only one account is permitted at a given time)</li>
      <li>You have full power and authority to enter into these "Terms of Use" and not violating any other agreement to which you are a party, and not violating any rights of CWorldCo.</li>
    </ul>
    <p>3.4. Hosco reserves the right to deny access to the Platform for any or no reason. Additionally, CWorldCo reserves the right to expel Users and prevent their future registration on the Site for violating these Terms of Use or the law.</p>

    <h3 id="obligations">4- OBLIGATIONS OF USERS</h3>
    <p>4.1. To use the Site, you must agree to be bound by the "Terms of Use" and comply with all applicable laws.</p>
    <p>4.2. You declare that you are of legal age to enter into this Agreement and that you are fully competent and have the legal capacity to enter into this Agreement.</p>
    <p>4.3. You declare that all the data, information and contents you provide are accurate and up-to-date.</p>
    <p>4.4. You own and are responsible for all the information you provide and post on CWorldCo. You may request its deletion at any time, unless you have shared content or information with others and they have not deleted it, or it was copied or stored by other Users. By providing information to Hosco, you represent and warrant that you are entitled to submit such information that it is accurate and updated and representative of your own profile or resume, education and work backgrounds/your company or hotel school. Users will only submit and post content or information on CWorldCo which is related to the lawful purposes of the Site as referred in Section 3 of these "Terms of Use".</p>
    <p>4.5. It is your responsibility to use the search criteria available on the Site to filter the Users' network and job offers. You agree to use such criteria in a manner that complies with all applicable laws and regulations.</p>
    <p>4.6. You must not submit content that is false, abusive, obscene, indecent, harmful, hateful, or that might be construed as harassment, that could embarrass anyone, or could motivate unlawful conduct.</p>
    <p>4.7. You must not delete or modify any material posted by any other User on the Platform.</p>
    <p>4.8. You must not collect, use, or share any content or information on CWorldCo Users, except as expressly permitted in the "Terms of Use" or by the user of such content or information.</p>
    <p>4.9. You must not add content to a content field that is not intended for such field on CWorldCo (including but not limited to personally identifiable information: telephone number, first and/or last name, email addresses, street addresses).</p>
    <p>4.10. You must not upload a symbol, drawing or any content other than a head-shot photograph of yourself for your personal profile photo.</p>
    <p>4.11. You must not upload a symbol, drawing or any content not directly related to your organization in your organization profile photos and logo.</p>
    <p>4.12. You must not rent, lease, trade or sell/resell access to CWorldCo or any content and information therein.</p>
    <p>4.13. You must not communicate, share or distribute content or information of CWorldCo and its Users with third parties found on the Hosco Platform and/or of its Users.</p>
    <p>4.14. You must not include, refer, or manage more than one job vacancy per offer you post on the Platform (doing so will incur additional charges).</p>
    <p>4.15. You must not post, upload, transmit, or share any content that contains viruses or that can damage the Platform or affect any Hosco User.</p>
    <p>4.16. You must not violate or attempt to violate the security, efficiency, or integrity of the Site in any way.</p>
    <p>4.17. You must not post or transmit any unsolicited advertising, promotional material, "spam", junk mail, or any solicitation without the prior written consent of Hosco.</p>
    <p>4.18. You must not create, either manually or electronically, a database with information and content posted on CWorldCo.</p>
    <p>4.19. You own and are responsible for keeping your password and login details secure and confidential. You are responsible for anything that occurs through your account on the Platform until you cancel it or prove that your account security was compromised with no fault of your own. No User shall create more than one account on CWorldCo without prior written consent of CWorldCo.</p>

    <h3 id="information">5- USER INFORMATION</h3>
    <p>5.1. You agree and acknowledge that CWorldCo may access, store, and disclose any information you provide when you register (or ask to get registered) or use the Site, if required by law or in a good faith belief that it is necessary for legal purposes to enforce this Agreement, respond to claims of violation of the rights of third parties, respond to customer service inquiries or protect the rights, property or security of CWorldCo, our Users, or the public.</p>
    <p>5.2. Users can edit, at any time, the content and information they post on the Site, including but not limited to their resume, company profile, photos, news and postings, attachments, links, feeds and job offers. The Users can also edit the visibility of such content and information by the distinct user types of the Site. All information that you provide to us is protected under and subject to our "Privacy Policy", which is published and available on this Site (<a href="/en/privacy-policy/">Privacy Policy</a>).</p>
    <p>5.3. For hotels and schools, you grant the right to CWorldCo to mention the organization as a CWorldCo member/partner and to use or display your organization's name, logo or pictures on the Site. You further grant to CWorldCo the right to use or display your organization's name, logo or pictures in promotional materials.</p>

    <h3 id="communications">6- USER COMMUNICATIONS AND POSTS</h3>
    <p>6.1 The Platform has been designed for employers, hotel schools, members and alumni to easily interact and find jobs/candidates. Communications between the parties may not be initiated for any reason except those directly related to this purpose. However, Users acknowledge that there are risks in dealing and communicating with strangers and agree and assume all risks associated with such dealing and communications linked to their use of the Site.</p>
    <p>6.2 CWorldCo offers Users various ways of posting information, files, links, updates, news, social media feeds, observations and comments, such as the homepage "My Home" or the Attachment and Other sections of the Users profiles on the Site. CWorldCo cannot guarantee that other Users will not access and use such content and information. Consequently, you must refrain from posting information on CWorldCo which you would like to keep confidential or which may infringe third-party rights. The Company cannot be held responsible for a User's use or appropriation of any content or other material you post on the Platform.</p>

    <h3 id="privacy">7- PRIVACY AND COOKIES</h3>
    <p>7.1. You should read carefully our "<a href="/en/privacy-policy/">Privacy Policy</a>" and must do it prior to joining the Platform, as it governs our processing of any and all information provided by you to CWorldCo. You acknowledge and agree that your submission of information or material is voluntary on your part.</p>
    <p>7.2. Review our "<a href="/en/cookies-policy/">Cookies Policy</a>" which describes the purposes and types of cookies we use to enhance your experience.</p>

    <h3 id="property"> 8- INTELLECTUAL AND INDUSTRIAL PROPERTY AND CONTENT REGULATIONS
    </h3>
    <p>8.1. You acknowledge and agree that all the contents of the Site, including, but not limited to, all information, data, text, software, sound, music, photographs, video, graphics, messages or other materials, may be protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws.<br />CWorldCo is the holder of the intellectual and industrial property rights, or has obtained the corresponding authorizations or licenses required for exploiting the domain name, the trademarks and distinctive symbols, the contents published, including all texts and images, and the remaining works and inventions associated to the Site and the technology associated to the same, as well as with regard to the contents. These domain names, trademarks, distinctive symbols, contents, remaining works and inventions cannot be used, reproduced or copied in any way without the previous explicit permission in writing of CWorldCo.</p>
    <p>8.2. The ownership of all the contents, replies, and comments added by Users on the CWorldCo Platform belongs to their corresponding authors.</p>
    <p>8.3. The User agrees that all the contents and information added on the CWorldCo Platform will be published and will be freely available to the rest of the users of the CWorldCo Platform without any limitation.</p>
    <p>8.4. The User declares and/or warrants that it owns all rights to publish the User´s contents on the Site, and thereby authorizes CWorldCo to communicate to the public, use, and exploit the publication in the format that CWorldCo shall deem adequate without any temporal or territorial restrictions.</p>
    <p>8.5. The CWorldCo Platform compiles and displays the content and information posted and transmitted by its Users and CWorldCo cannot be held responsible for the consequences of such postings and transmissions. CWorldCo does not preview, review, edit or monitor the content submitted by the Users on the Platform. Consequently, the Users acknowledge that any reliance whatsoever on any material or communication posted or transmitted by other Users is at their own risk.</p>
    <p>8.6. CWorldCo reserves the right (but shall have no obligation) to remove, or reject any content or communication submitted by any User on the Platform for any reason, at any time and without notice. Any such decision by CWorldCo shall not be subject to negotiation, debate or refund.</p>
    <p>8.7. CWorldCo cannot be held responsible or liable for the content, material and references of third party websites provided on the Platform. Any concern regarding such content, material and any other reference should be directly addressed to the third party.</p>

    <h3 id="payments">9- PAYMENTS</h3>
    <p>9.1. All payable fees to CWorldCo are presented to you within the Site and/or sent to you via email. The prices shown on the website or via email are expressed in the currency stated at the time of the purchase and include taxes which are applicable at all times and by territory unless clearly stated otherwise.</p>
    <p>9.2. The fees are directly payable by credit card or within thirty days following the date of the CWorldCo invoice. The purchased service (credits or premium membership subscriptions) will not take full effect until the payment of the invoice is received by CWorldCo. Invoices are sent based on the price valid at the time of the order or the price agreed between the parties. Hosco reserves the right to modify its pricing policy while the relationship is ongoing.</p>
    <p>9.3. CWorldCo does not have access to bank information related to the means of payment and does not know or keep data during the payment transaction.</p>
    <p>CWorldCo has no obligation to refund any amounts in any circumstances, unless otherwise stated in these "Terms of Use" or agreed in writing with the Company.</p>
    <p>9.4. Self-Service Payment and Invoicing</p>
    <p>Invoicing</p>
    <p>Users have the right to request the invoice by sending a written communication to CWorldCo at administrative@cworldco.com.</p>
    <p>Online Purchases</p>
    <p>CWorldCo reserves the right to reject any online purchase order submitted by the User in case of reasonable suspicion of fraudulent or criminal activity concerning the use of CWorldCo's products and services.</p>
    <p>Right of Withdrawal</p>
    <p>You will not be able to exercise your withdrawal right if the performance of the purchased services has begun (e.g., if you purchase a Job Posting and CWorldCo activates the service), upon consent and acknowledgment that you thereby lose your withdrawal right.</p>

    <h3 id="termination">10- TERM AND TERMINATION</h3>
    <p>10.1. As a member, if you have free access to our platform, you may terminate your use of the Site and this Agreement for any or no reason and at any time, with written notice to CWorldCo. Your decision will become effective when CWorldCo processes your written notice. If you are using Hosco on behalf of a school or company, our relationship may be governed by this Agreement as well as any additional accepted agreements.</p>
    <p>10.2. CWorldCo may terminate your use of the Site and this Agreement for any or no reason, including, but not limited to, a violation of these "Terms of Use" or your failure to pay any fees due to the Company, at any time, and with no compulsory prior notice.</p>
    <p>10.3. Termination of your CWorldCo account includes disabling your access to the Platform and may also prevent you from any future potential use of the Platform.</p>
    <p>10.4. CWorldCo may also discontinue providing the Site or any part of the Site at its sole discretion, at any time and with or without prior notice. In such event, you agree that CWorldCo may deactivate or delete your account and related content/information and that all fees and other amounts paid to the Company are non-refundable, except as otherwise defined in these "Terms of Use" or in any written consent provided by Hosco.</p>
    <p>10.5. For companies and schools, in the event of a termination by CWorldCo for any reason other than breach by you of these "Terms of Use" and of the law, any prepaid fees for unused services will be reimbursed to you.</p>
    <p>10.6. For companies, the term of this agreement related to paid services commences upon the effective purchase date and expiration is subject to the service duration you select. Unless Hosco is otherwise notified to the contrary, the agreement will automatically be renewed with the same services than the preceding year. If the prices or other conditions were to change, Hosco will inform you accordingly. If you do not wish to renew your contract, you need to inform Hosco using a written form (post, email) at least 90 days (unless your contract states contrarily) before the contract expires for companies and for schools.</p>
    <p>Second and successive Renewal Periods: The Rate Card Price shall be revised at the beginning of each Renewal Period with a maximum increase of 5% year over year. Hosco shall notify the Client of such changes by giving written notice thirty-seven (37) days prior to the expiry of the then current Renewal Period.</p>
    <p>10.7. For companies, the term of this agreement related to the purchase of Job Posting/s commences upon the effective purchase date and your posting can be posted to recruit one position at any time on the website visible up to 90 days.</p>
    <p>10.8. For companies, the one-off purchase of extra Job Posting/s on top of the agreed current subscription will be based on Hosco's Single Job Posting standard pricing. For companies who need to upgrade their package in order to include more job postings, the price applied per extra job postings will remain the same as per current negotiated contract.</p>

    <h3 id="warranties">11- DISCLAIMER OF WARRANTIES</h3>
    <p>11.1. You agree and acknowledge that the Site and all information and services are provided on an "as is" and "as available" basis without any express warranties or representations.</p>
    <p>11.2. CWorldCo is not responsible and makes no representations or warranties that the Site and its services meet your expectations, that it functions without interruption or error in functioning. Hosco disclaims all liability for damages caused by and such interruption or error in functioning. Furthermore, Hosco disclaims all liability for any malfunctioning, impossibility of access or poor use conditions of the Platform due to inappropriate equipment, disturbances related to internet service providers or to the saturation of the internet network, and for any other reason.</p>
    <p>11.3. CWorldCo makes no warranty that the Site or any server through which you access the Platform is free of viruses or other harmful components. Any content or material downloaded or obtained through the use of the Site is at your own discretion and risk and you are solely responsible for any damage to your computer system or loss of data that results from the download of such content or material.</p>
    <p>11.4. CWorldCo makes no representations or warranties that there will be any minimum number of users with resumes or companies with job offers on the Platform, and that the information disclosed by the users with resumes or companies with job offers is accurate, up-to-date and reliable.</p>
    <p>11.5. CWorldCo makes no representations or warranties that any resume, job posting, news document, advertisement or other content or communication will be viewed by a minimum or defined number of users or by any specific user, and that your requirements or expectations on the quantity or quality of job applicants will be met.</p>

    <h3 id="liability">12- LIMITATION OF LIABILITY</h3>
    <p>12.1. CWorldCo will implement all technical and organizational security measures that are required in accordance with security standards, but it shall not be held liable for any third party attacks of a criminal nature and those that are beyond its control.</p>

    <h3 id="misc">13- MISCELLANEOUS</h3>
    <p>13.1. Any requests or inquiries on these "Terms of Use" should be directed to us through our contact form found in the "Contact" section of the Site.</p>
    <p>13.2. These "Terms of Use" constitute the entire agreement between the parties and prevail over any previous agreement or arrangement.</p>
    <p>13.3. These "Terms of Use" are governed and construed in accordance with Spanish laws, regardless of the country of origin of the User. Any disagreement will be treated by the competent tribunals of the canton of Barcelona or the applicable jurisdiction in the case of consumers.</p>
    <p>13.4. If any section of these "Terms of Use" is held invalid or unenforceable, that part shall be construed in a consistent way with applicable laws to reflect the initial and original intentions of the parties and the remaining sections and parts shall remain in full force and effect.</p>

    <h3 id="hosconnect-events">14- CWORLDCONNECT EVENT</h3>
    <h4>14.1. DEFINITION</h4>
    <p>CWorldConnect events are exclusive events that are held on a yearly basis. They bring quality hospitality professionals and schools together for evenings of intimate networking in stunning, local venues. <a href="https://meet.cworldco.com/cworldconnect/"   >https://meet.cworldco.com/cworldconnect/</a ></p>
    <h4>14.2. PHOTOS POLICY</h4>
    <p>Photos and videos will be taken during the CWorldConnect events. These photos and/or video footage will be shared on CWorldCo.com and other communication channels managed by CWorldCo.<br /><br /> If you don't grant CWorldCo permission to use the photographs and/or video footage taken of you during the event, please send an email to pr@hosco.com. Please make sure you state: Image release, the name of the event, and your full name in the subject line of your email. Ex: Image release, Hosconnect Geneva, James Smith.</p>
    <h4>14.3. CONDITIONS</h4>
    <p>CWorldCo reserves the right to refuse entry to any CWorldCo event.</p>

    <h3 id="cworldcosummit-events">15- CWORLDCO SUMMIT EVENT</h3>
    <h4>15.1. DEFINITION</h4>
    <p>The CWorldCo Summit takes place every June in Barcelona. The world's top hospitality school representatives and HR professionals from first-class companies unite for three days of networking and learning. The attendees exchange best practices, hear from industry figures, and make endless connections. The overall goal is to unite industry stakeholders and tackle some of the biggest challenges that hospitality is currently facing. <a href="https://meet.cworldco.com/">https://meet.cworldco.com/</a></p>
    <h4>15.2. PHOTOS POLICY</h4>
    <p>Photos and videos will be taken during the CWorldCo Summit. These photos and/or video footage will be released on an album on cworldco.com and use to share information about CWorldCo Summit on other communication channels managed by CWorldCo. If you don't grant permission to CWorldCo to use the photographs and/or video images taken of me during the event, please send an email to meetatevent@cworldco.com. Please make sure you state: Image release, the name of the event, and your full name in the subject line of your email. Ex: Image release, CWorldCo Summit 2024, Sena Akpably.</p>
    <h4>15.3. CANCELLATION POLICY</h4>
    <p>Should you have to cancel your registration, a notification in writing should be sent to meetatevent@cworldco.com. Please make sure you state: cancelation, name of the event, and your full name in the subject line of your email. Ex: Cancelation, CWorldCo Summit, Sena Akpably.</p>
    <p>Conditions for regular schools & companies (included, but not limited to CWorldCo clients and non-clients):</p>
    <ul>
      <li>A refund of 75% will be given for cancellations received 210 days (7 months) prior to the start of the event.</li>
      <li>A refund of 50% will be given for cancellations received between 210 days (7 months) and 60 days (2 months) prior to the start of the event.</li>
      <li>No refund will be issued for cancellations received less than 60 days (2 months) prior to the event, nor failure to attend.</li>
    </ul>
    <p>Conditions for sponsors:</p>
    <ul>
      <li>A refund of 75% will be given for cancellations received 210 days (7 months) prior to the start of the event.</li>
      <li>A refund of 50% will be given for cancellations received between 210 days (7 months) and 60 days (2 months) prior to the start of the event.</li>
      <li>No refund will be issued for cancellations received less than 60 days (2 months) prior to the event, nor failure to attend.</li>
      <li>However, any expenses generated because of the service should be supported fully by the part that cancels.</li>
    </ul>

    <h4>15.4. OTHER CONDITIONS</h4>
    <p>View the <a href="https://meet.cworldco.com/terms_and_conditions_cworldcosummit2024">CWorldCo Summit 2024's Terms & Conditions here</a>.</p>
    <p>CWorldCo reserves the right to refuse entry to any CWorldCo event.</p>
  </section>
</div>
</div>

                                            
<nav aria-label="breadcrumb" class="site-breadcrumb">
    <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                                    <a href="/en/">
                        Home                    </a>
                            </li>
                    <li class="breadcrumb-item active">
                                    <span>Terms &amp;amp; Conditions</span>
                            </li>
            </ol>
</nav>
                    
                </main>
            
                                                
<footer id="footer" class="hosco-new-footer">
    <div class="hosco-new-footer-container">
        <div class="hosco-new-footer-nav row">
            
                            <div class="col-6 col-sm-3 cworldco-new-footer-list">
                                            <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Top Locations'}" href="/en/browse-jobs/location" class="hosco-new-footer-title">Top Locations</a>
                    
                                            <ul class="list-unstyled">
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs in Abu Dhabi'}" href="https://www.cworldco.com/en/jobs/in/abu-dhabi" class="hosco-new-footer-nav-link">Jobs in Abu Dhabi</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs in Amsterdam'}" href="https://www.cworldco.com/en/jobs/in/amsterdam" class="hosco-new-footer-nav-link">Jobs in Amsterdam</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs in Dubai'}" href="https://www.cworldco.com/en/jobs/in/dubai" class="hosco-new-footer-nav-link">Jobs in Dubai</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs in London'}" href="https://www.cworldco.com/en/jobs/in/london" class="hosco-new-footer-nav-link">Jobs in London</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs in Manchester'}" href="https://www.cworldco.com/en/jobs/in/manchester" class="hosco-new-footer-nav-link">Jobs in Manchester</a>
                                </li>
                                                    </ul>
                                    </div>
                            <div class="col-6 col-sm-3 cworldco-new-footer-list">
                                            <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Top Departments'}" href="/en/browse-jobs/department" class="hosco-new-footer-title">Top Departments</a>
                    
                                            <ul class="list-unstyled">
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Events jobs'}" href="https://www.cworldco.com/en/jobs/events" class="cworldco-new-footer-nav-link">Events jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'F&B jobs'}" href="https://www.cworldco.com/en/jobs/f-b" class="cworldco-new-footer-nav-link">F&B jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Front Office jobs'}" href="https://www.cworldco.com/en/jobs/front-office" class="cworldco-new-footer-nav-link">Front Office jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Rooms division jobs'}" href="https://www.cworldco.com/en/jobs/rooms" class="cworldco-new-footer-nav-link">Rooms division jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Sales & Marketing jobs'}" href="https://www.cworldco.com/en/jobs/sales-marketing" class="cworldco-new-footer-nav-link">Sales & Marketing jobs</a>
                                </li>
                                                    </ul>
                                    </div>
                            <div class="col-6 col-sm-3 cworldco-new-footer-list">
                                            <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Top Companies'}" href="/en/browse-jobs/company" class="cworldco-new-footer-title">Top Companies</a>
                    
                                            <ul class="list-unstyled">
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs at Accor'}" href="https://www.cworldco.com/en/jobs/at/accor" class="cworldco-new-footer-nav-link">Jobs at Accor</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs at Four Seasons'}" href="https://www.cworldco.com/en/jobs/at/four-seasons" class="cworldco-new-footer-nav-link">Jobs at Four Seasons</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs at Hilton Hotels & Resort'}" href="https://www.cworldco.com/en/jobs/at/hilton-hotels-resort" class="cworldco-new-footer-nav-link">Jobs at Hilton Hotels & Resort</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs at InterContinental'}" href="https://www.cworldco.com/en/jobs/at/intercontinental" class="cworldco-new-footer-nav-link">Jobs at InterContinental</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Jobs at Marriott'}" href="https://www.cworldco.com/en/jobs/at/marriott" class="cworldco-new-footer-nav-link">Jobs at Marriott</a>
                                </li>
                                                    </ul>
                                    </div>
                            <div class="col-6 col-sm-3 cworldco-new-footer-list">
                                            <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Top jobs'}" href="/en/browse-jobs/title" class="cworldco-new-footer-title">Top jobs</a>
                    
                                            <ul class="list-unstyled">
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Chef jobs'}" href="https://www.cworldco.com/en/jobs/chef" class="cworldco-new-footer-nav-link">Chef jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Concierge jobs'}" href="https://www.cworldco.com/en/jobs/concierge" class="cworldco-new-footer-nav-link">Concierge jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Receptionist jobs'}" href="https://www.cworldco.com/en/jobs/receptionist" class="cworldco-new-footer-nav-link">Receptionist jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Sales executive jobs'}" href="https://www.cworldco.com/en/jobs/sales-executive" class="cworldco-new-footer-nav-link">Sales executive jobs</a>
                                </li>
                                                            <li>
                                    <a cworldco-tracking="{event: 'footer-nav-interaction', label: 'Waiter / Waitress jobs'}" href="https://www.cworldco.com/en/jobs/waiter-waitress" class="cworldco-new-footer-nav-link">Waiter / Waitress jobs</a>
                                </li>
                                                    </ul>
                                    </div>
                    </div>

        <ul class="cworldco-new-footer-about list-unstyled">
            <li>
                <a href="/en/about-us/"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'About us'}" >About us</a>
            </li>
            <li>|</li>
            <li>
                <a href="/en/contact"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'Contact'}" >Contact</a>
            </li>
            <li>|</li>
            <li>
                <a href="/en/terms-and-conditions/"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'Terms of use'}" >Terms of Use</a>
            </li>
            <li>|</li>
            <li>
                <a href="/en/cookies-policy/"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'Cookies Policy'}" >Cookies Policy</a>
            </li>
            <li>|</li>
            <li>
                <a href="/en/privacy-policy/"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'privacy policy'}" >Privacy Policy</a>
            </li>
            <li>|</li>
            <li>
                <a href="/en/members-faq/"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'FAQ'}" >FAQ</a>
            </li>
                    </ul>

        <h3 class="cworldco-new-footer-title">Get the app</h3>
        <div class="text-center cworldco-new-footer-mobile-badge">
            <a href="https://itunes.apple.com/app/cworldco"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'Apple Appstore'}" target="_blank" class="appstore">
                <img src="/images/home/mobile/app-store-badge-en.png" height="30" alt="Available on the AppStore">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.cworldco"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'Google Playstore'}" target="_blank" class="google-play">
                <img src="/images/home/mobile/google-play-badge-en.png" height="30" alt="Get in on Google Play">
            </a>
        </div>
        <div class="text-center cworldco-new-footer-mobile-link">
            <a href="/en/hospitality-hotel-job-app/"  cworldco-tracking="{event: 'footer-nav-interaction', label: 'more information'}" >Hospitality Job App</a>
        </div>

        <h3 class="cworldco-new-footer-title">Follow us</h3>
        <ul class="cworldco-new-footer-social clearfix list-unstyled">
            <li>
                <a href="/en/company/cworldco"  cworldcotracking="{event: 'footer-social-interaction', label: 'cworldco'}" class="cworldco-new-footer-social-hosco" target="_blank">
                    <i class="ha ha-round-cworldco"></i><span class="sr-only">cworldco</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/cworldco" cworldco-tracking="{event: 'footer-social-interaction', label: 'Facebook'}" class="hosco-new-footer-social-fb" target="_blank">
                    <i class="ha ha-round-fb"></i><span class="sr-only">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/cworldco" class="hosco-new-footer-social-twtt" hosco-tracking="{event: 'footer-social-interaction', label: 'Twitter'}" target="_blank">
                    <i class="ha ha-round-twtt"></i><span class="sr-only">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/hosco" class="hosco-new-footer-social-linkd" hosco-tracking="{event: 'footer-social-interaction', label: 'Linkedin'}" target="_blank">
                    <i class="ha ha-round-linkd"></i><span class="sr-only">Linkedin</span>
                </a>
            </li>
            <li>
                <a href="https://instagram.com/cworldco/" class="hosco-new-footer-social-insta" hosco-tracking="{event: 'footer-social-interaction', label: 'Instagram'}" target="_blank">
                    <i class="ha ha-round-insta"></i><span class="sr-only">Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/" class="hosco-new-footer-social-yt" hosco-tracking="{event: 'footer-social-interaction', label: 'Youtube'}" target="_blank">
                    <i class="ha ha-round-yt"></i><span class="sr-only">Youtube</span>
                </a>
            </li>
        </ul>

        <ul class="cworldco-new-footer-copyright list-unstyled">
            <li>&copy; 2024 CWorldCo</li>
        </ul>
    </div>
</footer>
                                    </div>

</body>
</html>